extends ../layout.pug

block content
  table.es-content(cellspacing="0" cellpadding="0" align="center")
    tbody
      tr
        td.esd-stripe(align="center" esd-custom-block-id="196081")
          table.es-content-body(width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center")
            tbody
              tr
                td.esd-structure.es-p20t.es-p20r.es-p20l(align="left")
                  table(width="100%" cellspacing="0" cellpadding="0")
                    tbody
                      tr
                        td.esd-container-frame(width="560" valign="top" align="center")
                          table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                              tr
                                td.esd-block-text.es-p10t.es-p10b(align="left")
                                  p
                                    br
                                    | #{t('dear', {name: `${name}`})}
                              tr
                                td.esd-block-text.es-p10t.es-p10b(align="left")
                                  p
                                    | #{t("NewJobApply.Message.1")}
                              tr
                                td.esd-block-text.es-p10t.es-p10b(align="left")
                                  p
                                    | #{t("NewJobApply.Message.2")}
                              tr
                                td.esd-block-text.es-p10t.es-p10b(align="left")
                                  p
                                    b
                                      | #{t("HopeToSeeYouAgain")}
                                      br
                                      | EVB #{t("Career")}
                                      br
                                      br
                                    br
