| #{t('dear', {name: `${name}`})}
|
| #{t("NewJobApply.Message.1")}
|
| #{t("NewJobApply.Message.2")}
|
| #{t("HopeToSeeYouAgain")}
| EVB #{t("Career")}
|
|
| #{t("ContactUs")}
| +90-232-488-2101
|
| Alsancak mah. 1474 sok. No:11
| Konak / İzmir
|
| career@evb.com.tr
|
| #{t("NotificationAlert")}
|
| #{t("Copyright")} © EVB ENERJİ VE BİLİŞİM evb.com.tr 